/*main*/
body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  background-color: #ffffff;
}

:root {
  --second-family: 'Raleway', sans-serif;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/*head*/
.accent {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}

.site {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.header-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.header-list-link:hover,
.header-list-link:focus {
  color: var(--ocean);
  text-decoration: underline;
}

.address {
  font-style: normal;
}

.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

/*title*/
.title {
  background-color: var(--navy-blue);
}

.main-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

.title-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background: var(--iris);
  cursor: pointer;
}

.title-button:hover,
.title-button:focus {
  background-color: var(--ocean);
}

/*info*/

.info-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
}

.title-benefits {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.title-benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*team*/

.team-list-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
}

.team-list {
  background-color: var(--cloud);
}

.team-list-img {
  background-color: var(--white);
}

.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
}

.team-list-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/*portfolio*/

.potfolio-list-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
}

.portfolio-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.portfolio-list-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*footer*/
footer {
  background-color: var(--navy-blue);
}

.accent-footer {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}

.footer-site {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.footer-text {
  color: var(--cloud);
}
